{{ form_start(form) }}
    <div class="row">
        <div class="col-md-6 mb-3">
            {{ form_row(form.client_code) }}
        </div>
        <div class="col-md-6 mb-3">
            {{ form_row(form.matricule_fiscale) }}
        </div>
    </div>

    <div class="mb-3">
        {{ form_row(form.name) }}
    </div>

    <div class="mb-3">
        {{ form_row(form.address) }}
    </div>

    <div class="mb-3">
        {{ form_row(form.active) }}
    </div>

    <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary btn-lg">
            <i class="bi bi-check-circle"></i> {{ button_label|default('Enregistrer') }}
        </button>
    </div>
{{ form_end(form) }}
